{% extends 'base.html' %}
{% block sub_content %}
<h2 style="text-align: center;">{{search | title}}</h2>

{% if error_message %}
	<div class="alert alert-info">
		{{error_message}}
	</div>
{% endif %}
<div class="row">
	{% for post in final_posting %}
	<div class="col s4">
		<div class="card">
			<div class="card-image">
				<a href="{{ post.1 }}"><img src="{{ post.3 }}" alt="#@"></a>
			</div>
			<div class="card-content">
				{{ post.0 }}
			</div>
			<div class="card-action">
				<a href="{{ post.1 }}">Post Price {{ post.2 }}</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
